Welcome to {{ ansible_facts['fqdn'] }} server.
This is a {{ ansible_facts['distribution'] }} version {{ ansible_facts['distribution_version'] }} system.
This host has {{ ansible_facts['processor_vcpus'] }} vCPUs and {{ ansible_facts['memory_mb']['real']['total'] }} MB of RAM available.